body{
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
    padding: 20px;
    font-family: 'roboto',sans-serif;
}

h2{
    font-size: 36px;
    color: #2c3e50;
    
}
p{
    font-size: 72px;
    color: #2c3e50;
    display: flex;
    justify-content: center;
}

.btn-container button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 10px;
    background-color: navy;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    transition: opacity .3s ease-in-out;
}
.btn-container button:hover{
    opacity: .7;
}

#start{
    background-color: #27ae60;
}

#stop{
    background-color: #c0392b;
}

#reset{
    background-color: #7f8c8d;
}